.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #d0cece;
  border-radius: 4px;
  height: 38px !important;
  display: flex;
}

.select2-selection__rendered {
  margin-top: auto;
  margin-bottom: auto;
}